In [1]:
printf (aradhya)

NameError: name 'printf' is not defined

In [2]:
print (aradhya)

NameError: name 'aradhya' is not defined

In [3]:
print aradhya

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (4008401658.py, line 1)

In [4]:
print ("aradhya")

aradhya

In [5]:
s1 = "hello"
s2 = "moto"
print ('s1 + s2')

s1 + s2

In [6]:
s1 = "hello"
s2 = "moto"
print (s1 + s2)

hellomoto

In [7]:
s1 = "hello"
s2 = "moto"
print (s1  + s2)

hellomoto

In [8]:
split_string "My name is \n Aradhya \n Kumar"
print (split_string)

SyntaxError: invalid syntax (1089733748.py, line 1)

In [9]:
split_string ="My name is \n Aradhya \n Kumar"
print (split_string)

My name is
 Aradhya
 Kumar

In [10]:
split_string ="My name is \ Aradhya \ Kumar"
print (split_string)

My name is \ Aradhya \ Kumar

In [14]:
split_string ="My name is \t Aradhya \t Kumar"
print (split_string)

My name is 	 Aradhya 	 Kumar

In [12]:
age=35
greetings="hello"
print(type(age))
print(type(greetings))

<class 'int'>
<class 'str'>

In [13]:
a=12
b=5
print(a+b)

17

In [15]:
a=12
b=5
c=a+b
print(c)

17

In [16]:
a=12
b=5
c=a+b
print(c = a+b)

TypeError: 'c' is an invalid keyword argument for print()

In [17]:
a=12
b=5
var c
print("c"= a+b)

SyntaxError: invalid syntax (2091668350.py, line 3)

In [18]:
a=12
b=5
print ('c='a+b)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (279361060.py, line 3)

In [19]:
a=12
b=5
print ('c ='a+b)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3622205499.py, line 3)

In [20]:
a=12
b=5
print ('c =',a+b)

c = 17

In [21]:
a=12
b=5
print((a+b)/4*5+6-4)

23.25

In [26]:
s="python lab for it-6"
for x in range(len(s)):
    if(x%2==0):
       print(s[x])

p
t
o

a

o

t
6

In [27]:
s="python lab for it-6"
for x in range(0,len(s),2):
    print(s[x],end="")

pto a o t6

In [28]:
n = int(input("enter a number: "))
i = 1
sum = 0
while (i <= n):
    sum = sum + i
    i = i + 1
print("The sum is: ", sum)

enter a number: 22
The sum is:  253

In [29]:
n = int(input("enter a number: "))
i = 1
sum = 0
while (i <= n):
    sum = sum + i
    i = i + 1
print("The sum is: ", sum)

enter a number: 16
The sum is:  136

In [31]:
n = input("Enter value of n: ")
try:
    n = int(n)
    total_sum = 0
    # sum of n numbers in python using for loop
    for i in range(1, n+1):
        total_sum = total_sum + i
    print("Total sum is: ", total_sum)
except:
    print("Please enter a natural number")

Enter value of n: 4
Total sum is:  10

In [32]:
num=int(input("enter num : "))
print(num%100)

enter num : 2
2

In [33]:
for i in range(6,20,2):
    print(i,end="")

681012141618

In [34]:
for i in range(6,20,2):
    print(i,end="  ")

6  8  10  12  14  16  18

In [37]:
for i in range(6,20,5):
    print(i,end="  ")
    #range of 6 to 20 with a gap of 5

6  11  16

In [38]:
for i in range(5):
    for j in range(i,5):
        print(i,"\t",j+10)

0 	 10
0 	 11
0 	 12
0 	 13
0 	 14
1 	 11
1 	 12
1 	 13
1 	 14
2 	 12
2 	 13
2 	 14
3 	 13
3 	 14
4 	 14