In [2]:
list=["Data Analytics", "Machine Learning", "OPtimization Techniques", "Cloud Computing", "T&T lab", "Artificial Intellegence"]
print(list)

['Data Analytics', 'Machine Learning', 'OPtimization Techniques', 'Cloud Computing', 'T&T lab', 'Artificial Intellegence']

In [3]:
list=["Data Analytics", "Machine Learning", "OPtimization Techniques", "Cloud Computing", "T&T lab", "Artificial Intellegence"]
list.reverse()
print(list)

['Artificial Intellegence', 'T&T lab', 'Cloud Computing', 'OPtimization Techniques', 'Machine Learning', 'Data Analytics']

In [10]:
marks = [97,90,78,99,88,44]
res = sum(marks)
avg = sum(marks)/len(marks)
print(res)
print(avg)

496
82.66666666666667

In [11]:
marks = [97,90,78,99,88,44]
marks.sort()
print(marks)

[44, 78, 88, 90, 97, 99]

In [27]:
marks = [97,90,78,99,88,44]
min = min(marks)
print(maxi)

44

In [32]:
marks = [97,90,78,99,88,44]
prod = max(marks)
max = prod(marks)
print(max)

TypeError: 'int' object is not callable

In [33]:
marks = [97,90,78,99,88,44]
print(marks[4])

88

In [34]:
marks = [97,90,78,99,88,44]
print(marks[3])

99

In [45]:
marks = [97,90,78,99,88,44]
marks.remove(97)
print(marks)

[90, 78, 99, 88, 44]

In [46]:
marks = [90,78,99,88,44]
marks.insert(0,98)
print(marks)

[98, 90, 78, 99, 88, 44]

In [47]:
marks = [90,78,99,88,44]
print(len(marks))

5

In [49]:
marks = [90,78,99,88,44]
print(len(marks))

5

In [51]:
marks = [90,78,99,88,44]
marks.remove(88)
print(marks)

[90, 78, 99, 44]

In [55]:
list1=["aa","bb","cc","dd"]
list2=["xx","yy","zz"]
list3=["ff","tt"]
maxlength = max(len(list1),len(list2),len(list3))
print(maxlength)

TypeError: 'int' object is not callable

In [56]:
test_list = ['hello','world','my','name','is','aradhya']
  

print("The original list : " + str(test_list))
  

max_len = -1
for ele in test_list:
    if len(ele) > max_len:
        max_len = len(ele)
        res = ele
  

print("longest string : " + res)

The original list : ['hello', 'world', 'my', 'name', 'is', 'aradhya']
longest string : aradhya

In [63]:
nums = [90,78,99,88,44]
for i in nums:
    print(i**2)

8100
6084
9801
7744
1936

In [64]:
nums = [90,78,99,88,44]
for i in nums:
    print(pow(i,2))

8100
6084
9801
7744
1936

In [76]:
nums = [90,78,99,88,44]
for i in nums:
    if nums % 2 == 0:
        print("even")

TypeError: unsupported operand type(s) for %: 'list' and 'int'

In [77]:
list1=["aradhya","hello","how"]
touple1=("are","you","?")
list1.extend(touple1)
print(list1)

['aradhya', 'hello', 'how', 'are', 'you', '?']

In [78]:
marks = [90,78,99,88,44]
marks.insert(0,98)
print(marks)

[98, 90, 78, 99, 88, 44]

In [79]:
marks = [90,78,99,88,44]
marks.append(98)
print(marks)

[90, 78, 99, 88, 44, 98]

In [81]:
newList = [12, 35, 9, 56, 24]

def swapList(newList):
     
    newList[0], newList[-1] = newList[-1], newList[0]
 
    return newList
     


print(swapList(newList))

[24, 35, 9, 56, 12]

In [84]:
print("Enter the size of list: ", end="")
tot = int(input())
print("Enter", tot, "elements: ", end="")
x = []
for i in range(tot):
    x.append(input())

print("\nThe list is:")
print(x)

print("\nEnter an element to search: ", end="")
element = input()
if element in x:
    print("\nIt is available in the list")
else:
    print("\nIt is not available in the list")

Enter the size of list: 3
Enter 3 elements: 1
2
3

The list is:
['1', '2', '3']

Enter an element to search: 4

It is not available in the list

In [88]:
marks = [90,78,99,88,44]
marks.pop(2)
print(marks)

[90, 78, 88, 44]