In [31]:
#convert two lists into a dict
list1 = ["Amar","Akbar","Anthony"]
list2 = [9.1,6.7,9.6]
dict1= dict(zip(list1,list2))
print(dict1)

{'Amar': 9.1, 'Akbar': 6.7, 'Anthony': 9.6}

In [32]:
#merge two dict into one
dict1 = {
    "name":"Amar",
    "cgpa": 9.1
}
dict2 = {
    "gender": "male",
    "roll-no.": 2006542
}
dict3 = {**dict1, **dict2}
print(dict3)

{'name': 'Amar', 'cgpa': 9.1, 'gender': 'male', 'roll-no.': 2006542}

In [6]:
#print the value of key "history" from below dict
dict1 = {
    "History": 99,
    "Civics": 97,
    "Maths": 34
}
x = dict1.get("History")
print(x)

99

In [33]:
#initialize dictionary with default valuessample_dict = {
employees = ['Amar', 'akbar']
defaults = {"designation": 'Developer', "salary": 800}

res = dict.fromkeys(employees, defaults)
print(res)

# Individual data
print(res["Amar"])

{'Amar': {'designation': 'Developer', 'salary': 800}, 'akbar': {'designation': 'Developer', 'salary': 800}}
{'designation': 'Developer', 'salary': 800}

In [34]:
#Create a dictionary by extracting the keys from a given dictionary
sampleDict = { 
  "name": "amar",
  "age":21, 
  "salary": 800, 
  "city": "jannat" }

keys = ["name", "salary"]

newDict = {k: sampleDict[k] for k in keys}
print(newDict)

{'name': 'amar', 'salary': 800}

In [35]:
#Delete a list of keys from a dictionary
sample_dict = {
    "name": "Amar",
    "age": 21,
    "salary": 800,
    "city": "jannat"
}
# Keys to remove
keys = ["name", "salary"]

for k in keys:
    sample_dict.pop(k)
print(sample_dict)

{'age': 21, 'city': 'jannat'}

In [16]:
#Check if a value exists in a dictionary
sample_dict = {'a': 100, 'b': 200, 'c': 300}
if 200 in sample_dict.values():
    print('200 present in a dict')

200 present in a dict

In [36]:
#Rename key of a dictionary
sample_dict = {
    "name": "Amar",
    "age": 21,
    "salary": 800,
    "city": "jannat"
}

sample_dict['location'] = sample_dict.pop('city')
print(sample_dict)

{'name': 'Amar', 'age': 21, 'salary': 800, 'location': 'jannat'}

In [18]:
#Get the key of a minimum value from the following dictionary
sample_dict = {
    'Physics': 82,
    'Math': 65,
    'history': 75
}
print(min(sample_dict, key=sample_dict.get))

Math

In [37]:
#Change value of a key in a nested dictionary
sample_dict = {
    'emp1': {'name': 'Amar', 'salary': 7500},
    'emp2': {'name': 'Akbar', 'salary': 8000},
    'emp3': {'name': 'Anthony', 'salary': 6500}
}

sample_dict['emp3']['salary'] = 8500
print(sample_dict)

{'emp1': {'name': 'Amar', 'salary': 7500}, 'emp2': {'name': 'Akbar', 'salary': 8000}, 'emp3': {'name': 'Anthony', 'salary': 8500}}

In [20]:
#Reverse the tuple
tuple1 = (10, 20, 30, 40, 50)
tuple1 = tuple1[::-1]
print(tuple1)

(50, 40, 30, 20, 10)

In [21]:
#Access value 20 from the tuple
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))

print(tuple1[1][1])

20

In [23]:
#Create a tuple with single item 50
tuple1= (50)
print(tuple1)

50

In [24]:
#Unpack the tuple into 4 variables
tuple1 = (10, 20, 30, 40)

# unpack tuple into 4 variables
a, b, c, d = tuple1
print(a)
print(b)
print(c)
print(d)

10
20
30
40

In [25]:
#Swap two tuples in Python
tuple1 = (11, 22)
tuple2 = (99, 88)
tuple1, tuple2 = tuple2, tuple1
print(tuple2)
print(tuple1)

(11, 22)
(99, 88)

In [26]:
#Copy specific elements from one tuple to a new tuple
tuple1 = (11, 22, 33, 44, 55, 66)
tuple2 = tuple1[3:-1]
print(tuple2)

(44, 55)

In [27]:
#Modify the tuple
tuple1 = (11, [22, 33], 44, 55)
tuple1[1][0] = 222
print(tuple1)

(11, [222, 33], 44, 55)

In [28]:
#Sort a tuple of tuples by 2nd item
tuple1 = (('a', 23), ('b', 37), ('c', 11), ('d', 29))
tuple1 = tuple(sorted(list(tuple1), key=lambda x: x[1]))
print(tuple1)

(('c', 11), ('a', 23), ('d', 29), ('b', 37))

In [29]:
#Counts the number of occurrences of item 50 from a tuple
tuple1 = (50, 10, 60, 70, 50)
print(tuple1.count(50))

2

In [30]:
#Check if all items in the tuple are the same
def check(t):
    return all(i == t[0] for i in t)

tuple1 = (45, 45, 45, 45)
print(check(tuple1))

True